
/* LOGO UND NAVIGATION */

/* Layout des Menüs */

header {
    margin: 0 auto; 
    width: 100%;
    height: 80px;
    border: 1px solid black;
    position: fixed;
    top: 0;
    background-color: white;
}

/* logo */
#logo {
  float: left;
  padding-left: 35%;
  height: 70px;
}

/* Überschrift */

.title{
  display: inline;  
  list-style: none;
  margin-left: 20px;
}

section {
  padding: 70px;
}

nav li {
  clear: left;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
  font-style: none;
  text-decoration: none;
  text-underline: none;
}


/*responsiv  (head) */
/*bildschirm */
@media screen and (max-width: 767px){ 


/*kleiner  */
@media screen and (max-width: 580px) {
.bg-main {
  border: 0px;
}

.title{
  display: none;
}
}
}
/* responsiv ende */
/* ELEMENTE DER SEITE */

/* Schrift-Hovering */
a {
  color: black;
  text-decoration: none;
  text-underline: none;
}

@media not print{
  a:hover {
    color: red; 
    text-decoration: none;
    text-underline: none;
  }
}


body{
  font-family: 'Arial';
  background-image: url("old_paper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
     }

header {
  text-align: left;
}


p   {
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
            }   

h2  {
  font-size: 3em;
  color: #8F0000;
  font-style: italic;
  text-align: center;
  
}

strong {
  color: red;
}

h1, h4 {
  text-align: center;
  
}

h3 {
  color:blue;
  text-align:center;
}

p  {
  font-family: 'Arial';
  font-size: 18px;
}
/*Noch eine Pseudo Element*/
p::first-letter{
  color: #8F0000;
  font-size: 2em;
  font-style: italic;
  }

h1#white { 
  color:white; 
}
